<div id="feature">
  <div class="inner group">
    <ul class="group">
      <li><h3>Feature felt</h3></li>
      <li>
        <p>
        Byhøst App er et mobilt værktøj, der gør det let at finde og samle vilde råvarer lige der, hvor du står. Vores byer vrimler med urter, bær, frugter, nødder og svampe. Du må gerne plukke de ting, du finder i offentlige rum, og som regel smager det mange gange bedre end det, du kan købe, og så er det gratis. At samle vilde råvarer kan gøres overalt, også i byen. Og det kræver ikke års erfaring eller lange bøger. Du kan plukke på cykelturen...
        </p>
      </li>
      <li>
        <a href="#">læs mere</a>
      </li>
    </ul>
    <ul>
      <li>
        <a href="#" class="applink"><h5>Byhøst app<br>til telefonen<x/h5></a>
      </li>
      <li>
        <a href="#"class="cardlink"><h5>Byhøst<br>kortet</h5></a>
      </li>
    </ul>
  </div>
</div> <!-- /Feature -->

<div id="seasonfeed">
  <div class="inner group three-col">
    <h3>Lige Nu</h3>
    <div class="group">
      <ul class="col fleft">
        <li class="pic"><a href="#"><img src="img/pic1-3col.jpg" title="Picture #1 for 3-column layout" alt="pic1-3col"></a></li>
        <li><a href="#" class="title"><h4>Overskrift</h4></a></li>
        <li><a href="#">Se opskrift</a></li>
        <li><a href="#">Se alle opskrifter</a></li>
      </ul>
      <ul class="col fleft">
        <li id="gmap" class="pic"></li>
        <li><a href="#" class="title"><h4>Find Ramsløg</h4></a></li>
        <li><a href="#">Vis råvare på kort</h4></a></li>
        <li><a href="#">Gå til kort</a></li>
      </ul>
      <ul class="col fleft">
        <li class="pic"><a href="#"><img src="img/pic3-3col.jpg" title="Picture #3 for 3-column layout" alt="pic3-3col"></a></li>
        <li><a href="#" class="title"><h4>Ramsløg</a></li>
        <li><a href="#">Vis råvare i almanakken</a></li>
        <li><a href="#">Gå til almanakken</a></li>
      </ul>
    </div>
  </div>
</div> <!-- /Lige nu -->

<div id="guides">
  <div class="inner group three-col">
    <h3>Byhøst Guides</h3>
    <div class="group">
      <ul class="col fleft">
        <li class="pic"><a href="#"><img src="img/pic1-3col.jpg" title="Picture #1 for 3-column layout" alt="pic1-3col"></a></li>
        <li><a href="#"><h4 class="title">Kom godt igang med med høsten</h4></a></li>
        <li><a href="#">Læs mere</a></li>
      </ul>
      <ul class="col fleft">
        <li class="pic"><a href="#"><img src="img/pic2-3col.jpg" title="Picture #1 for 3-column layout" alt="pic2-3col"></a></li>
        <li><a href="#"><h4 class="title">God stil og sankeskik</h4></a></li>
        <li><a href="#">Læs mere</a></li>
      </ul>
      <ul class="col fleft">
        <li class="pic"><a href="#"><img src="img/pic3-3col.jpg" title="Picture #3 for 3-column layout" alt="pic3-3col"></a></li>

        <li><a href="#"><h4 class="title">Gear og udstyr</h4></a></li>
        <li><a href="#">Læse mere</a></li>
      </ul>
    </div>
  </div>
</div> <!-- /Guides -->


<div id="events">
  <div class="inner group four-col">
    <h3>Events</h3>
    <div class="group">
      <ul class="col fleft">
        <li class="pic">
          <a href="#">
            <img src="img/pic1-col4.jpg" title="Picture #3 for 3-column layout" alt="pic3-3col"></a>
          <a href="#" class="date"><date>19.06.15</date></a>
        </li>
        <li><a href="#"><h4>Nyskud Juni</h4></a></li>
        <li><a href="#">Læs mere</a></li>
      </ul>
      <ul class="col fleft">
        <li class="pic">
          <a href="#">
            <img src="img/pic2-col4.jpg" title="Picture #3 for 3-column layout" alt="pic3-3col"></a>
            <a href="#" class="date"><date>12.06.15</date></a>
        </li>
        <li><a href="#"><h4>100 Meter Middag på Folkemødet</h4></a></li>
        <li><a href="#">Læs mere</a></li>
      </ul>
      <ul class="col fleft">
        <li class="pic">
          <a href="#"><img src="img/pic3-col4.jpg"></a>
          <a href="#" class="date"><date>30.05.15</date></a>
        </li>
        <li><a href="#"><h4>Sanketur i Valbyparken</h4></a></li>
        <li></li>
        <li><a href="#">Læs mere</a></li>
      </ul>
      <ul class="col fleft">
        <li class="pic">
          <a href="#"><img src="img/pic4-col4.jpg"></a>
          <a href="#" class="date"><date>09.05.15</date></a>
        </li>
        <li><a href="#"><h4>Nyskud Maj</h4></a></li>
        <li><a href="#">Læs mere</a></li>
      </ul>
    </div>
  </div>
</div> <!-- /Events -->
