<div id="pagewrap" class="event landing">
  <!-- Content -->

    <div id="splash">
      <div id="pagetitle">
        <h2>Events</h2>
        <p>
        Etiam porta sem malesuada magna mollis
euismod. Sed posuere consectetur est at
lobortis. Maecenas sed diam eget risus varius
blandit sit amet non magna. Cras mattis
consectetur purus sit amet fermentum.
Ullamcorper nulla non metus auctor fringITTa.
        </p>
      </div><!-- /#pagetitle -->
    </div> <!-- /event splash -->




    <div id="content" class="group">
      <div id="guides">
        <div class="inner group three-col">
          <div class="group">
            <ul class="col fleft">
              <li class="pic"><a href="#"><img src="img/pic1-3col.jpg" title="Picture #1 for 3-column layout" alt="pic1-3col"></a></li>
              <li><a href="#"><h4 class="title">Kom godt igang med med høsten</h4></a></li>
              <li class="date">20.18<br>2015</li>
              <li><a href="#" class="readmore">Se event</a></li>
            </ul>
            <ul class="col fleft">
              <li class="pic"><a href="#"><img src="img/pic2-3col.jpg" title="Picture #1 for 3-column layout" alt="pic2-3col"></a></li>
              <li><a href="#"><h4 class="title">God stil og sankeskik</h4></a></li>
              <li class="date">20.18<br>2015</li>
              <li><a href="#" class="readmore">Se event</a></li>
            </ul>
            <ul class="col fleft">
              <li class="pic"><a href="#"><img src="img/pic3-3col.jpg" title="Picture #3 for 3-column layout" alt="pic3-3col"></a></li>
              <li><a href="#"><h4 class="title">Gear og udstyr</h4></a></li>
              <li class="date">20.18<br>2015</li>
              <li><a href="#" class="readmore">Se event</a></li>
            </ul>
          </div><!-- /.group -->
        <div class="inner group three-col">
          <div class="group">
            <ul class="col fleft">
              <li class="pic"><a href="#"><img src="img/pic1-3col.jpg" title="Picture #1 for 3-column layout" alt="pic1-3col"></a></li>
              <li><a href="#"><h4 class="title">Kom godt igang med med høsten</h4></a></li>
              <li class="date">20.18<br>2015</li>
              <li><a href="#" class="readmore">Se event</a></li>
            </ul>
            <ul class="col fleft">
              <li class="pic"><a href="#"><img src="img/pic2-3col.jpg" title="Picture #1 for 3-column layout" alt="pic2-3col"></a></li>
              <li><a href="#"><h4 class="title">God stil og sankeskik</h4></a></li>
              <li class="date">20.18<br>2015</li>
              <li><a href="#" class="readmore">Se event</a></li>
            </ul>
            <ul class="col fleft">
              <li class="pic"><a href="#"><img src="img/pic3-3col.jpg" title="Picture #3 for 3-column layout" alt="pic3-3col"></a></li>
              <li><a href="#"><h4 class="title">Gear og udstyr</h4></a></li>
              <li class="date">20.18<br>2015</li>
              <li><a href="#" class="readmore">Se event</a></li>
            </ul>
          </div> <!-- /.group -->
        </div><!-- /.inner.group -->
    </div> <!-- /.inner -->


    </div><!-- /#Guides -->
  </div> <!-- /content -->
