<div id="pagewrap" class="almanak landing">
<!-- Content -->
  <div id="splash">
    <div id="pagetitle">
      <h2>Almanak</h2>
      <p>
      Etiam porta sem malesuada magna mollis
euismod. Sed posuere consectetur est at
lobortis. Maecenas sed diam eget risus varius
blandit sit amet non magna. Cras mattis
consectetur purus sit amet fermentum.
Ullamcorper nulla non metus auctor fringITTa.
      </p>
    </div><!-- /#pagetitle -->

    <ul id="contentfilter">
      <li class="search">
        <input type="button" value="Søg">
        <input type="search" placeholder="Søg i almanakken"  />
      </li><!-- /.search -->
      <li>
        <a href="#">Vis alle råvarer</a>
      </li>
      <li>
        <a href="#">Vis sæsonens råvarer</a>
      </li>

    </ul><!-- /#contentfilter -->

    <ul id="practicalinfo">
      <li><a href="#">AMET SOLLICITUDIN SIT ELIT</a></li>
      <li><a href="#">TRISTIQUE RIDICULUS MALESUADA PORTA CONSECTETUR</a></li>
      <li><a href="#">MALESUADA PARTURIENT BIBENDUMELIT</a></li>
    </ul><!-- /#practicalinfo -->

  </div> <!-- /almanak slide -->




  <div id="content" class="group">
    <h3>Find i Almanakken</h3>

    <ul id="almanakchooser">
      <li><a href="#">urter</a></li>
      <li><a href="#">tang</a></li>
      <li><a href="#">nødder</a></li>
      <li><a href="#">frugter</a></li>
      <li><a href="#">svampe</a></li>
      <li><a href="#">bær</a></li>
      <li><a href="#">andet</a></li>
    </ul>
    <!-- /almanak chooser -->
    <h4>Årstidsguide</h4>
    <p>
      Etiam porta sem malesuada magna mollis euismod. Sed posuere consectetur est at lobortis. Maecenas sed
diam eget risus varius blandit sit amet non magna. Cras mattis consectetur purus sit amet fermentum. Donec
ullamcorper nulla non metus auctor fringilla.
    </p>
    <ul id="saesonguide">
      <li><a href="#">Forår</a></li>
      <li><a href="#">Sommer</a></li>
      <li><a href="#">Efterår</a></li>
      <li><a href="#">Vinter</a></li>
    </ul><!-- /saeson guide -->
  </div> <!-- /content -->
