@import "variables";


.center {
  margin: 0 auto;
}

.inner {
  width: $maxsitewidth;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.full {
  width: 100%;
}

.padding-sides {
  padding: 0 2em;
}

//BG colors
.bg-sand {
  background-color: $sand1;
}

.btn {
  padding: 8px 7px;
  background-color: $gron1;
  color: $sand2;
  text-transform: uppercase;
}

.ta-left {
  text-align: left;
}

.field {
  width: 100%;
  margin-bottom: 10px;
  em {
    font-size: .7em;
  }

  label {
    font-weight: bold;
    text-align: left;
    color: darken($sand1, 75%);
  }

  input {
    box-sizing: border-box;
    border: 1px solid darken($sand2, 10%);
    background-color: $sand2;
    &:focus {
      background-color: white;
      outline-color: $gron1;
    }
  }
}

input[type=submit] {
  border: none;
}



#sign_up {
  max-width: 600px;
  text-align: center;
  padding: 1em 0;
  margin-bottom: 2em;

  .actions {
  }
}

.actions {
  margin-top: 5px;
  justify-content: space-between;
}
