/* dimensioner */
$maxsitewidth: 1200px;
$headerheight: 90px;
$toppad: 10px;

/* farver */
$gron1: #265728;

$gray1: #848484;

$sand1: #f1ebdf;
$sand2: #f8f5ee;
$sand3: #feffff;

$redlink: #ff6260;
$transred: rgba(232,90,88,0.9);

/* font-sizes */
$p10: (10/14) * 1em;
$p13: (13/14) * 1em;
$p15: (15/14) * 1em;
$p16: (16/14) * 1em;
$p17: (17/14) * 1em;
$p18: (18/14) * 1em;
$p20: (20/14) * 1em;
$p22: (22/14) * 1em;
$p23: (23/14) * 1em;
$p24: (24/14) * 1em;
$p28: (28/14) * 1em;
$p30: (30/14) * 1em;
$p34: (34/14) * 1em;
$p37: (37/14) * 1em;
$p40: (40/14) * 1em;
$p77: (77/14) * 1em;

$lheight1: 1em;
$lheight2: 1.35em;


/* paddings */
$pad-left: 10px;
