<%= map(:container_id => "map",
    :center => {
      :latlng => [50.5, 30.5],
      :zoom => 16
    }) %>
<div id="user-actions" class="flex">
  <%= link_to "New place", new_place_path, id: "newplace", remote: true  %>
</div>
