<div id="pagewrap" class="map landing">
  <%= map(:container_id => "map",
      :center => {
        :latlng => [50.5, 30.5],
        :zoom => 18
      }) %>
</div>
<%= link_to "New place", new_place_path, id: "newplace", remote: true  %>
