<footer>
  <div class="inner">
    <address class="fleft">
    Glentevej 70B<br>
    2400 København NV<br>
    tlf: 51905056<br>
    <a href="mailto:kontakt@byhoest.dk" title="kontakt Byhøst">kontakt@byhoest.dk</a>
    </address>
  </div>
</footer> <!-- /Footer -->
