<header>
  <div class="inner">
    <!-- Byhoest logo -->
    <div id="logo" class="fleft">
      <a href="#" title="Byhøst.dk">Byhøst</a></div>
    <!-- /Byhoest logo -->
    <div class="fright">

      <!-- Page Navigation -->
      <nav id="pagenav" class="fleft">
        <li><a href="#">Opskrifter</a></li>
        <li><a href="#">Almanak</a></li>
        <li><a href="#">Kort</a></li>
        <li><a href="#">Byhøstguide</a></li>
        <li><a href="#">Events</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="#">Om Byhøst</a></li>
      </nav>
      <!-- /Page Navigation -->

      <!-- Search Box -->
      <div id="searchbox" class="fleft" >
        <input type="button" value="Søg">
        <input type="search" placeholder="søg..."  />
      </div>
      <!-- /Search Box -->

      <!-- Login Box -->
      <div id="login" class="fleft">
        <a href="#">Log ind</a>
      </div>
      <!-- /Login Box -->

      <!-- User Nav -->
      <nav id="usernav">
        <li>Hey!&nbsp;</li>
        <li><a class="username" title="velkommen tilbage Sanker Mike !" >Sanker-Mike</a></li>
        <li>&nbsp;|&nbsp;</li>
        <li><a href="#">Min konto</a></li>
        <li><a href="#">Log ud</a></li>
      </nav>
      <!-- /User Nav -->

    </div>
  </div>
</header>
<div id="pagewrap">  
