<header>
  <div class="inner">
    <!-- Byhoest logo -->

    <!-- /Byhoest logo -->
    <div class="fright">

      <!-- Page Navigation -->
      <nav id="pagenav" class="fleft">

        <li><%= link_to "Kort", places_path %></li>




      </nav>
      <!-- /Page Navigation -->
      <%= render 'layouts/search' %>
      <% unless user_signed_in? %>
        <div id="login" class="fleft">
          <%= link_to "Log ind", user_session_path %>
        </div>
      <% end %>
      <!-- Login Box -->

      <!-- /Login Box -->
      <% if current_user %>
        <%= render 'layouts/usernav' %>
      <% end %>

    </div>
  </div>
</header>
